[user]
	email = gjmveloso@users.noreply.github.com
	name = Gustavo Veloso
[core]
	editor = zed --wait
[init]
	defaultBranch = main
[includeif "gitdir:~/Code/Internal/**"]
    path = ~/Code/Internal/.gitconfig
